#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_DH_STRIP_ARGS := --dbg-package=libecore-dbg

DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath \
	--disable-nls \
	--enable-abstract-sockets \
	--disable-doc \
	--enable-glib \
	--enable-ecore-x-xcb \
	--disable-pthread \
	--enable-atfile-source \
	--disable-curl \
	--disable-gnutls \
	--disable-openssl \
	--enable-poll \
	--enable-inotify \
	--enable-ecore-config \
	--enable-ecore-evas-software-buffer \
	--enable-ecore-evas-software-x11 \
	--disable-ecore-evas-xrender-x11 \
	--disable-ecore-evas-opengl-x11 \
	--disable-ecore-evas-software-16-x11 \
	--disable-ecore-evas-xrender-xcb \
	--disable-ecore-evas-software-gdi \
	--disable-ecore-evas-software-ddraw \
	--disable-ecore-evas-direct3d \
	--disable-ecore-evas-opengl-glew \
	--disable-ecore-evas-software-16-ddraw \
	--disable-ecore-evas-cocoa \
	--disable-ecore-evas-software-sdl \
	--disable-ecore-evas-directfb \
	--disable-ecore-evas-fb \
	--disable-ecore-evas-software-16-wince \
	--host=$(DEB_HOST_GNU_TYPE)

DEB_MAKE_CLEAN_TARGET := distclean
CFLAGS += -fvisibility=hidden
LDFLAGS += -fvisibility=hidden

clean::
	[ ! -f Makefile ] || make distclean
	rm -f ecore-*.tar.bz2 ecore-*.tar.bz2.cdbs-config_list
	[ ! -f debian/control.orig ] || mv -f debian/control.orig debian/control

binary-install/libecore-dev::
	[ -f debian/control.orig ] || cp debian/control debian/control.orig
ifeq (,$(findstring target,$(DEB_BUILD_OPTIONS)))
	sed -ie 's,Section: .*,Section: host/tools,g' $(CURDIR)/debian/control
else
	sed -ie 's,Section: host/tools,Section: core,g' $(CURDIR)/debian/control
endif
