#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_DH_STRIP_ARGS := --dbg-package=libecore-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --host=$(DEB_HOST_GNU_TYPE) \
	--enable-ecore-x-xcb \
	--enable-ecore-fb \
	--enable-ecore-evas-fb \
	--disable-ecore-directfb \
	--disable-ecore-evas-dfb \
	--disable-rpath \
	--disable-openssl \
	--disable-gnutls \
	--disable-doc
DEB_MAKE_CLEAN_TARGET := distclean
CFLAGS += -fvisibility=hidden
LDFLAGS += -fvisibility=hidden

clean::
	[ ! -f Makefile ] || make distclean
	rm -f ecore-*.tar.bz2 ecore-*.tar.bz2.cdbs-config_list
