#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

#DEB_INSTALL_MANPAGES_libecore-doc := $(DEB_SRCDIR)/doc/man/man3/*.3
DEB_INSTALL_MANPAGES_libecore-bin := debian/ecore_config.1
DEB_DH_STRIP_ARGS := --dbg-package=libecore-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --host=$(DEB_HOST_GNU_TYPE) --enable-ecore-x-xcb --disable-ecore-fb --disable-ecore-directfb --disable-ecore-evas-dfb --disable-ecore-evas-fb --disable-rpath --enable-openssl
DEB_MAKE_CLEAN_TARGET := clean

clean::
	rm -rf $(DEB_SRCDIR)/doc/html $(DEB_SRCDIR)/doc/latex $(DEB_SRCDIR)/doc/man
	./autogen.sh --prefix=/usr $(DEB_CONFIGURE_EXTRA_FLAGS) 

